$primary-color: #85c7b7;
$primary-color--dark: #609c8d;
$default-font-color: #8b8b8b;
$default-font-color--dark: #444;
$default-border-color: #c4c4c4;
$default-border-radius: 20px;
$box-shaddow-outline: 0 0 1px 2px #c5eeff;
$button-color: #90b7c8;
$button-hover: #5fa5c3;

$default-font-family: 'Open Sans', sans-serif;
$heading-font-family: 'Libre Baskerville', serif;

$secondary-color: #c7b47b;
$secondary-font-color: rgba(0, 0, 0, 0.6);
