@import "../Variables.scss";

.top-navbar {
  height: 40px;
  background: $secondary-color;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  &__socials {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
      margin-right: 1rem;
      display: flex;

      & svg path {
        fill: $secondary-font-color;
        transition: all 0.2s;
      }

      &:hover svg path {
        // background: red;
        fill: $secondary-font-color;
      }
    }
  }

  &__social-icon {
    width: 20px;
    height: 20px;
    display: inline-block;

    // & path {
    //   fill: $secondary-font-color;
    //   transition: all 0.2s;
    // }

    // &:hover path {
    //   // background: red;
    //   fill: $secondary-font-color;
    // }
  }

  &__list {
    list-style: none;
    display: flex;

    & li:not(:last-of-type) {
      margin-right: 1.5rem;
    }
    & li a {
      text-decoration: none;
      color: $secondary-font-color;
      font-family: $heading-font-family;
      font-weight: bolder;
      font-size: 1rem;
    }
  }
}
